@using Abp.Application.Services.Dto
@using DX.Loan.Web.Areas.Mpa.Models.Common.Modals
@using Abp.Web.Mvc.Extensions
@using DX.Loan.Authorization
@using DX.Loan.Web.Navigation

@model DX.Loan.Web.Areas.Mpa.Models.Trade.RechargeViewModel
@{
    ViewBag.CurrentPageName = PageNames.App.Trade.Recharge;
}
@section Styles
{
    @*@Html.IncludeStyle("~/Areas/Mpa/Views/Roles/Index.min.css")*@

}
@section Scripts
{
    @Html.IncludeScript("~/Areas/Mpa/Views/Recharge/_CreateModal.js")
    @Html.IncludeScript("~/Areas/Mpa/Views/Recharge/Index.js")

}

<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("Recharge")</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col-xs-6 text-right">
        @if (IsGranted(AppPermissions.Pages_Administration_Recharge_Create))
        {
            <button id="CreateNewButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("Create")</button>
        }

    </div>
</div>
<div class="portlet light margin-bottom-0">
    <div class="portlet-body ">
        <div class="form">
            <form class="horizontal-form" id="frmId">
                <div class="form-body" enter-key="">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("TradeType")</label>
                                    @Html.DropDownListFor(m => m.TradeType, Model.TradeTypeList.Select(i=>i.ToSelectListItem()), new
                                                        {
                                                            @class = "form-control",
                                                            id= "TradeType"
                                                        })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">@L("DateRange")</label>
                                    <input type="text" class="form-control date-range-picker" id="dateRange" />
                                </div>
                            </div>

                        </div>

                        <div class="row margin-bottom-10">
                            <div class="col-sm-6">
                                @Html.DropDownListFor(
                                      m=>m.userId, Model.Users.Select(i => i.ToSelectListItem()),
                                      new
                                      {
                                          @class = "form-control selectpicker",
                                          data_live_search = "true"
                                      })





                            </div>
                        </div>

                        <div class="row margin-bottom-10">
                            <div class="col-sm-6 text-right">
                                <button id="RefreshButton" class="btn blue"><i class="fa fa-refresh"></i> @L("Refresh")</button>
                            </div>
                        </div>
                        
                    
                </div>
            </form>
        </div>



        <div id="RechargeTable"></div>
    </div>
</div>
