@using DX.Loan.Web.Areas.Mpa.Models.Common.Modals
@using Abp.Extensions
@model DX.Loan.Web.Areas.Mpa.Models.Notice.NoticeEditViewModel

@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("Edit")) : L("CreateNew")))

<div class="modal-body">
    <form role="form" name="createOrUpdateForm" novalidate class="form-validation">
        @if (Model.IsEditMode)
        {
            <input type="hidden" name="Id" value="@Model.Id" />
            @Html.HiddenFor(model => model.RowVersion)
        }

        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <input class="form-control@(Model.Title.IsNullOrEmpty() ? "" : " edited")" type="text" name="Title" value="@Model.Title" required maxlength="100" />
            <label>@L("NoticeTitle")</label>
        </div>

        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <input type="text" name="ShortTitle" class="form-control@(Model.ShortTitle.IsNullOrEmpty() ? "" : " edited")" value="@Model.ShortTitle" maxlength="50" />
            <label>@L("ShortTitle")</label>
        </div>

        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <input type="text" name="Author" class="form-control@(Model.Author.IsNullOrEmpty() ? "" : " edited")" value="@Model.Author" maxlength="30" />
            <label>@L("Author")</label>
        </div>

        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            @Html.DropDownListFor(m => m.Prior, new List<SelectListItem>() { new SelectListItem() {  Text="普通",Value= "0" }, new SelectListItem() { Text = "重要", Value = "1" }
            ,new SelectListItem() {  Text="很重要,且置顶",Value= "2" }
            }, new
            {
                @class = "form-control edited"
            })
            <label>@L("Prior")</label>
        </div>


        <div class="form-group form-md-line-input form-md-floating-label no-hint">
            <input type="text" name="PublicDate" class="form-control@(!Model.PublicDate.HasValue ? "" : " edited") datepicker" value="@Model.PublicDate"  />
            <label>@L("PublicDate")</label>
        </div>

         <div class="form-group form-md-line-input form-md-floating-label no-hint">
             <textarea name="Content" class="form-control@(Model.Content.IsNullOrEmpty() ? "" : " edited") " maxlength="500">@Model.Content</textarea>
            <label>@L("Content")</label>
        </div>

    </form>
</div>
@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
